<h1>Cart {{cart._id}}</h1>

<div class="d-flex justify-content-between w-100">
    <div class="d-flex">
        <a href="/"><button class="btn btn-success my-2 mx-1">Home</button></a>
        <a href="/products"><button class="btn btn-success my-2 mx-1">Lista de productos</button></a>
    </div>

    <div class="d-flex">
        <a id="btnBack"><button class="btn btn-secondary mx-1">Go Back</button></a>
        <form action="/api/session/logout" method="POST">
            <button type="submit" class="btn btn-danger mx-1">Log Out</button>
        </form>
    </div>
</div>

{{#each cart.products}}
<div class="cartProduct">
    <li>
        <h2>Product ID:</h2><b>{{this.product._id}}</b>
        <hr>
        <h5>Title: {{this.product.title}}</h5>
        <p>Price: {{this.product.price}}</p>
        <p>Quantity: {{this.quantity}}</p>
    </li>
</div>
{{/each}}

