<div class="d-flex flex-column align-items-center py-4">

    <a class="text-decoration-none text-secondary" href="/">
        <h1>PROFILE</h1>
    </a>

    <div class="container p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                        height="100" width="100" />
                </button>

                <span class="name mt-3 text-uppercase fw-bold">{{user.firstName}} {{user.lastName}}</span>

                <span class="idd fst-italic">{{user.email}}</span>

                <div class="d-flex flex-column justify-content-center align-items-center mt-3">
                    <span class="font-monospace">Role: {{user.role}}</span>
                    <span class="number fw-bolder">{{user.age}}<span class="follow fw-light"> years old</span></span>
                </div>
                <form class="my-2" action="/api/session/role" method="POST">
                    <button type="submit" class="btn btn-outline-primary mx-2">Toggle Role</button>
                </form>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <a id="btnBack"><button class="btn btn-secondary mx-2">Go Back</button></a>
        <form action="/api/session/logout" method="POST">
            <button type="submit" class="btn btn-danger mx-2">Log Out</button>
        </form>
        <a href="/current"><button class="btn btn-primary mx-2">Current</button></a>
    </div>

</div>

<script>
    document.getElementById("btnBack").addEventListener("click", () => {
        window.history.back();
    });
</script>